section {
    font-family: 'Monsserrat', sans-serif;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.delay-form {
    width: 360px;
    height: 72px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 16px;
}

.delay-form input {
    border-radius: 4px;
    border: 1px solid #808080;
}

.delay-form input:hover {
    border: 1px solid #000;
}

.delay-form input:focus {
    border: 1px solid #4E75FF;
}

input[type=number] {
    width: 344px;
    height: 40px;
    padding: 0 0 0 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}

fieldset {
    max-width: 360px;
    height: 78px;
    border: 1px solid #808080;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    color: #2E2F42;
    margin-bottom: 24px;
}

fieldset:hover {
    border: 1px solid #000
}

legend {
    margin-left: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}

.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 48px 8px 48px;
    width: 264px;
    height: 32px;
}

.labels label:nth-child(1) {
    width: 104px;
    height: 32px;
}

.labels label:nth-child(2) {
    width: 112px;
    height: 32px;
}

.labels label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    border: 1px solid #757575;
}

button {
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background-color: #4E75FF;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #6C8CFF;
}